<div class="back-white">
  <div class="my-4"id="profile-name">
    <h3>{{ profileUser.username }}</h3>
    {{#if sameUser}}
    <a class="btn btn-primary btn-sm" href="/foodie/{{user._id}}/settings" role="button">Edit</a>
    {{/if}}
  </div>
  <div id="profile-userimage">
    <img src="{{profileUser.picPath}}" alt="">
  </div>
  <div id="profile-description">
    {{profileUser.description}}
  </div>
</div>
<div id="profile-foodie">
  <h4>I'm a local foodie for:</h4>
  {{#each profileUser.expertIn}}
  <a class="btn btn-primary btn-sm" href="#" role="button">{{this}}</a>
  {{/each}}

<div id="profile-myrecommend">
  <h4>My recommendations:</h4>
  </div>
  {{#each profileUser.recommendations}}
  <h3><a href="/restaurant/{{this._id}}">{{this.restName}}</a></h3>
  {{/each}}
</div>
</div>