<div class="back-white">
  <div id="profile-name">
    <h3>{{ profileUser.username }}</h3>
    <a class="btn btn-primary btn-sm" href="/foodie/:id/settings" role="button">Edit</a>
  </div>
  <div id="profile-userimage">
    <img src="{{profileUser.picPath}}" alt="">
  </div>
  <div id="profile-description">
    {{profileUser.description}}
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores quasi, eveniet laboriosam pariatur eligendi vero
    vitae qui optio quis voluptas suscipit aperiam sed. Accusamus veniam explicabo aliquid quo soluta alias eum doloremque
    voluptates non exercitationem odio deserunt nesciunt, iste modi, cupiditate distinctio dolorum expedita quaerat neque
    repellendus corporis consequuntur?
  </div>
</div>
<div id="profile-foodie">
  <h4>I'm a local foodie for:</h4>
  {{#each profileUser.expertIn}}
  <a class="btn btn-primary btn-sm" href="#" role="button">{{this}}</a>
  {{/each}}
</div>
<div id="profile-myrecommend">
  <h4>My recommendations:</h4>
  <div class="google-map-sm">
    {{profileUser}}
  </div>
  {{#each profileUser.recommendations}}
  <h3>{{this.restName}}</h3>
  <p>{{this.comment}}</p>
  {{/each}}
</div>