<h1>Settings</h1>

<p>{{user}}</p>

<form action="/auth/{{user._id}}/update" method="POST" id="form-container">
<label for="username">Username</label>
  <input id="username" type="text" name="username" value="{{user.username}}">

  <br><br>

  <label for="description">Description</label>
  <input id="description" type="description" name="description" value="{{user.description}}">

  <br><br>
  
  <ul>
    {{#each expArr}}
      {{#if this.value}} 
        <li class=“{{this.key}}”><button type="button" class="btn toggle on">{{this.key}}</button>
      {{else}}
        <li class=“{{this.key}}”><button type="button" class="btn toggle off">{{this.key}}</button>
      {{/if}}
    {{/each}}
    <input name="expertIn" id="expertIn" type="text" class="hidden">
  </ul>

      
  
  <br><br>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Update account</button>
  </form>