<h1>Settings</h1>

<p>{{user}}</p>

<form action="/auth/{{user._id}}/update" method="POST" id="form-container">
<label for="username">Username</label>
  <input id="username" type="text" name="username" value="{{user.username}}">

  <br><br>

  <label for="description">Description</label>
  <input id="description" type="description" name="description" value="{{user.description}}">

  <br><br>

    <ul>
     <li class=“food1”><button type="button" class="btn toggle off">Pizza</button><input id="expertIn" type="text" name="expertIn"></li>
     <li class=“food2”><button type="button" class="btn toggle off">Burger</button></li>
     <li class=“food3”><button type="button" class="btn toggle off">Craft Beer</button></li>
     <li class=“food4”><button type="button" class="btn toggle off">Vegan</button></li>
     <li class=“food5”><button type="button" class="btn toggle off">Sushi</button></li>
     <li class=“food6”><button type="button" class="btn toggle off">German</button></li>
     <li class=“food7”><button type="button" class="btn toggle off">Indian</button></li>
     <li class=“food8”><button type="button" class="btn toggle off">Thai</button></li>
     <li class=“food9”><button type="button" class="btn toggle off">Vietnamese</button></li>
    <li class=“food10”><button type="button" class="btn toggle off">Others</button></li>
 
   </ul>
  
  <br><br>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Update account</button>
  </form>