<div class="content">
  <div class="tagline">
    <h4>Find the best places to eat, drink in Berlin. Access over 1 million tips from local foodies.</h4>
  </div>
  <div id="index-res" class="hidden">
    {{#each restaurants}}
    <p id="res-name">{{this.name}}</p>
    <p id="res-location">{{this.location.coordinates}}</p>
    <p id="res-id">{{this._id}}</p>
    <p id="res-cat">{{this.category}}</p>

    {{/each}}
  </div>
  <div class="food-categories">
      <ul id="setting-expert">
        {{#each expArr}}
          <li class=“{{this.key}}”><button type="button" class="btn toggle-index off">{{this.key}}</button>
        {{/each}}
        </ul>
  </div>
  <div id="index-googlemap"></div>
</div>