<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7U1ZJ_UFGajH9QOgchtqZ8PiRO3FzJWM"></script>

<body>
  <nav class="d-flex">
    <h4><a href="/" class="white-link">Bearlicious</a></h4>
    {{#if user}}

    <div class="dropdown">
      <div id="dropdown-userpic">
        {{#if user.picPath}}
        <img src="{{user.picPath}}" alt=""> {{else}}
        <img src="/images/default-userpic.png" alt=""> {{/if}}
      </div>
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{user.username}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/foodie/profile/{{user._id}}">Profile</a>
        <a class="dropdown-item" href="/foodie/{{user._id}}/recommendations">Recommendation</a>
        <a class="dropdown-item" href="/foodie/{{user._id}}/bookmark">Bookmark</a>
        <a class="dropdown-item" href="/foodie/{{user._id}}/settings">Settings</a>
        <a class="dropdown-item" href="/auth/logout">Log Out</a>
      </div>
    </div>
    {{else}}
    <ul>
      <li><a href="/auth/login" class="btn btn-outline-secondary btn-sm">Log In</a></li>
      <li><a href="/auth/signup" class="btn btn-secondary btn-sm">Sign Up</a></li>
    </ul>
    {{/if}}
  </nav>

  <div class="bg">
    {{{body}}}
  </div>

  <footer>&copy Bearlicious 2018 | <a href="/about/">About</a></footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src='/javascripts/map.js'></script>
  <script src='/javascripts/additional.js'></script>
  <script src='/javascripts/script.js'></script>

</body>

</html>