<div class="back-white">
  <div class="back-white-content">
    <div class="restaurant-image">
      <img src="{{restaurant.picPath}}" alt="" width="400">
    </div>
    <h3>{{restaurant.name}}</h3>
    <p>{{restaurant.address}}</p>
    <p>{{restaurant.phone}}</p>
    <p class="hidden" id="each-res-location">{{ restaurant.location.coordinates}}</p>
    <div id="restaurant-map"></div>
    <div class="restaurant-info">
      <p>(The description goes here)</p>
      {{restaurant.description}}
    </div>
    {{#each restaurant.category}}
       <a class="btn btn-primary btn-sm" href="#" role="button">{{this}}</a>
    {{/each}}
    {{#if user}}
    <div>
    <form action="/restaurant/{{restaurant._id}}" method="POST">
    <input type="text" name="userId" value="{{user._id}}" class="hidden">
    {{#if bookmark}}
    <button class="on" type="submit">Remove Bookmark</button>
    {{else}}
    <button class="off" type="submit">Add Bookmark</button>
    {{/if}}
    </form>
    </div>
    <h4><a href="/foodie/{{user._id}}/recommendations/create/{{restaurant._id}}">(+) Add or Edit a recommendation</a></h4>
    {{/if}}
    <h4>Recommendations</h4>
    <div class="recommend-card">
      {{#each restaurant.recommendation}}
      <p>{{this.comment}}</p>
      <p><i>by {{this.author}}</i></p>
      <p><span id="created-on">created</span> <span class="make-date"><b></b></span><span class="updated_at">{{this.updated_at}}</span></p>
      {{/each}}
    </div>
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7U1ZJ_UFGajH9QOgchtqZ8PiRO3FzJWM"></script>

<script src="/javascripts/rest-map.js"></script>