<div class="bg-white">
  <h3>{{restaurant.name}}</h3>
  <div id="restaurant-map">
    <p>Google Map</p>
  </div>
  <div class="restaurant-image">
    <img src="{{restaurant.picPath}}" alt="" width="400">
  </div>
  <div class="restaurant-info">
    <p>The description goes here</p>
    {{restaurant.description}}
  </div>
</div>
<h4>Recommendations</h4>
<div class="bg-white">
 {{#each restaurant.recommendation}}
 <p>{{this.comment}}</p>
 <p><i>by {{this.author}}</i></p>
 <p>created {{this.updated_at}}</p>
 {{/each}}
</div>